body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}

.logo {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 1.5em;
  color: #4b4b4b;
}

.logo-icon {
  margin-right: 8px;
}

.sales-orders h1 {
  margin: 0;
  font-size: 2em;
}

.header-right {
  display: flex;
  align-items: center;
  position: relative; 
}

.date {
  margin-right: 10px;
  font-size: 1em;
  color: #4b4b4b;
}

.icons {
  display: flex;
  gap: 15px;
  margin-right: 20px;
}

.icons span {
  cursor: pointer;
  font-size: 1.5em;
}

.filter {
  font-size: 1.1em;
  position: absolute;
  bottom: 50; 
  right: 0;  
  margin-right: 10px;
  margin-bottom: 0px;
  
}

.search-container {
  padding: 10px;
  text-align: center;
}

.search-container input {
  width: 400px;
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ddd;
  border-radius: 50px;
}

.sidebar {
  width: 200px;
  background-color: #f9f9f9;
  padding: 10px;
  position: fixed;
  height: 100%;
  border-right: 1px solid #ddd;
}

.logo {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 1.5em;
  color: #4b4b4b;
  margin-bottom: 30px;
}

.logo-icon {
  margin-right: 8px;
}

.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-list li {
  display: flex;
  align-items: center;
  padding: 12px;
  margin: 10px 0;
  cursor: pointer;
  font-size: 1.2em;
  color: #4b4b4b;
  border-radius: 4px;
}

.nav-list li:hover {
  background-color: #e0e0e0;
}

.nav-list li.active {
  background-color: #7b61ff;
  color: white;
}

.nav-list li i {
  margin-right: 15px;
  font-size: 1.5em;
}

.nav-list li.active i {
  color: white;
}